.split-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
}

.form-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 5px;
}

.login-container {
    margin-right: 20px;
}

.sign-up-container {
    margin-left: 20px;
}

.form-container h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.form-container label {
    display: block;
    font-size: 16px;
    margin: 10px 0 5px;
}

.form-container input {
    display: block;
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form-container button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    background-color: #0082e6;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 20px;
}

.form-container button:hover {
    background-color: #1b9bff;
}
