.content-container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    padding: 0 15px;
}

.news {
    margin-top: 30px;
    margin-bottom: 30px;
}
.featured-title {
    font-family: Programme, Arial, sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: left;
}
.news-container{
    width: 100%;
    min-height: 10vh;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.news-container .news-content{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.news-container .news-content .news-card{
    flex: 1;
    border-right: 2px solid black;
    padding: 0px 30px;
    align-self: normal;
}

.news-container .news-content .news-card:first-child{
    padding-left: 0;
}
.news-container .news-content .news-card:last-child{
    border-right: none;
    padding-right: 0;
}
.news-container .news-content .news-card img{
    max-width: 100%;
    height: auto;
}
.news-container .news-content .news-card .news-title{
    font-size: 15px;
    margin-bottom: 5px;
    font-weight: bold;
}

.news-container .news-content .news-card .news-author{
    font-size: 10px;
    font-style: italic;
    color: gray;

}

/* Charts */

.charts-container {
    margin-bottom: 30px;
}

.charts-title {
    font-family: Programme, Arial, sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: left;
}

.charts-list {
    font-family: Programme, Arial, sans-serif;
}

.charts-list li {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    padding: 8px 0;
    border-bottom: 1px solid #ccc;
}

.charts-list .song-number {
    width: 10%;
}

.charts-list .song-title {
    width: 30%;
}

.charts-list .song-author {
    width: 20%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #800080;
    color: white;
    font-family: Programme, Arial, sans-serif;
    font-size: 18px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #a600a6;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:focus-within .dropdown-content {
    display: block;
}

.section-title-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
