.content-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.news-container {
    margin-top: 30px;
    margin-bottom: 30px;
}

.featured-title {
    font-family: Programme, Arial, sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: left;
}


.news-columns {
    display: flex;
    justify-content: space-between;
    font-family: Programme, Arial, sans-serif;
    margin-bottom: 40px;
}

.news-column {
    width: 25%;
    border-right: 2px solid black;
    padding: 0 15px;
}

.news-column:first-child {
    padding-left: 0;
}

.news-column:last-child {
    border-right: none;
}

.news-column h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.news-column p {
    font-size: 18px;
}

/* Charts */

.charts-container {
    margin-bottom: 30px;
}

.charts-title {
    font-family: Programme, Arial, sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: left;
}

.charts-list {
    font-family: Programme, Arial, sans-serif;
}

.charts-list li {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    padding: 8px 0;
    border-bottom: 1px solid #ccc;
}

.charts-list .song-number {
    width: 10%;
}

.charts-list .song-title {
    width: 30%;
}

.charts-list .song-author {
    width: 20%;
}

.community {
    margin-top: 30px;
}

.community h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.community-list {
    list-style: none;
    padding: 0;
}

.community-list li {
    font-size: 18px;
    margin-bottom: 10px;
}

.community-list .name {
    font-weight: bold;
}
