.search-page {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
}

.search-page p {
    font-size: 28px;
    margin-bottom: 20px;
}

h1 {
    padding: 20px;
}

.search-results li {
    font-size: 18px;
    margin-bottom: 10px;
}

.search-results li a {
    text-decoration: none;
    color: var(--background-color);
}