.song-header-container {
    width: 100%;
    min-height: 10vh;
    background-color: cyan;
    display: flex;
    justify-content: center;
    align-items: center;
}

.song-header {
    max-width: 1200px;
    padding: 30px;
    width: 90%;
    display: flex;
    flex: 1;
}
.song-img{
    flex: 1;
    padding-right: 10px;
    align-self: center;
    justify-self: center;
}
.song-img img{
    max-width: 15rem;
    width: 100%;
    height: auto;
}
.song-information{
    flex: 1;
    font-family: 'Programme', Arial, sans-serif;
    padding-right: 30px;
}
.song-information .song-title{
    font-size: 2rem;
    font-weight: bold;
}

.song-stats{
    flex: 1;
}

.content-container {
    padding: 1rem;
    max-width: 1200px;
    margin: 0 auto;
}
.song-container {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
}
.lyrics-container {
    flex: 0 0 60%;
    font-family: 'Programme', Arial, sans-serif;
    font-size: 1.5rem;
    line-height: 1.5;
    margin-right: 2rem;
}
.lyrics-container .song-title {
    font-size: 2rem;
    margin-bottom: 1rem;
}
.annotations-container {
    flex: 0 0 35%;
    font-family: 'Programme', Arial, sans-serif;
    line-height: 1.5;
    font-size: 1.5rem;
    padding-left: 1rem;
}

.about-container {
    width: 100%;
    min-height: 20vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-section {
    max-width: 1400px;
    padding: 30px;
    width: 90%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex: 1;
}
.about-content{
    padding-right: 30px;
    color: white;
    flex: 1;
}
.youtube-song{
    position: relative;
    padding-bottom: 30%;
    height: 0;
    max-width: 100%;
    margin: 0 auto;
    flex: 1;
}
.clip{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.comments-container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 40px;
}

.comments-container h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

#comment-input {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
}

#submit-comment {
    background-color: #333;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    text-transform: uppercase;
}

.comment {
    background-color: #f1f1f1;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 20px;
}

.comment h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.comment p {
    font-size: 16px;
    line-height: 1.5;
}