:root {
    font-size: 18px;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    --background-color: #41b3a3;
    --background-lighter: #85dcba;
    --background-pink: #c38d9e;
    --background-orange: #e8a87c;
    --background-red: #e28d60;
}

body {
    font-family: montserrat, serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* styling of the nav bar */

body.no-scroll {
    overflow: hidden;
    background-color: var(--background-color);
    transition: background-color .3s linear;
}

nav {
    height: 80px;
    background: var(--background-color);
}

#logoDiv {
    margin-top: 20px;
    float: left;
    margin-left: 20px;
}

#logoDiv > a {
    font-size: 1.5rem;
    text-transform: uppercase;
}

nav ul {
    float: right;
    margin-right: 25px;
}

nav ul li {
    cursor: default;
    color: white;
    display: inline-block;
    line-height: 80px;
    margin: 0 15px;
}

nav ul li a {
    position: relative;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    padding: 5px 0;
}

nav ul li a:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: white;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s linear;
}

nav ul li a:hover:before {
    transform: scaleX(1);
    transform-origin: left;
}

label svg {
    font-size: 30px;
    float: right;
    margin-right: 40px;
    margin-top: 20px;
    cursor: pointer;
    width: 1em;
    height: 1em;
    vertical-align: -0.125em;
    display: none;
}

@media only screen and (max-width: 860px) {
    #separatingBar {
        display: none;
    }

    label #btn {
        display: block;
    }

    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: var(--background-color);
        top: 80px;
        text-align: center;

        left: -100%;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    #check:checked ~ ul {
        left: 0;
    }

    #check:checked ~ label #btn {
        display: none;
    }

    #check:checked ~ label #cancel {
        display: block;
    }
}

#check {
    display: none;
}

/* styling of the footer */

footer {
    min-height: 50px;
}

article {
    flex: 1;
}

a {
    text-decoration: none;
    color: white;
}

footer {
    text-decoration: none;
    background: var(--background-color);
    height: auto;
    width: 100%;
    color: white;
}

.footer-content {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content .github-logo img {
    width: 30px;
    height: auto;
}

.footer-copyright {
    display: flex;
    justify-content: center;
    background: black;
}

.footer-links {
    text-align: center;
}

.footer-links h3 {
    margin-bottom: 10px;
}

.footer-links ul {
    display: flex;
    justify-content: center;
}

.footer-links ul li {
    margin: 0 10px;
}

.footer-links ul li a {
    text-transform: uppercase;
    padding: 5px 0;
    color: white;
}

.footer-links ul li a:hover {
    text-decoration: underline;
}

.rss-icon {
    width: 20px;
}