.content-container, #charts-container, #community-container, #for-you-container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    padding: 20px 15px;
}

#news {
    margin-top: 30px;
    margin-bottom: 30px;
}

.featured-title, .charts-title, .community-title, .for-you-title {
    font-family: Programme, Arial, sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: left;
}

.news-container, .charts-list, .community-list, .for-you-list {
    font-family: Programme, Arial, sans-serif;
}

.news-container {
    width: 100%;
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.news-container .news-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.news-container .news-content .news-card {
    flex: 1;
    padding: 0 30px;
    align-self: normal;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.news-container .news-content .news-card:last-child {
    border-right: none;
    padding-right: 0;
}

.news-container .news-content .news-card img {
    width: 18vh;
    height: 18vh;
    object-fit: cover;
    object-position: center;
}

.news-container .news-content .news-card .news-title {
    font-size: 15px;
    margin-bottom: 5px;
    font-weight: bold;
}

.news-container .news-content .news-card .news-author {
    font-size: 10px;
    font-style: italic;
    color: gray;
}

.charts-list li, .community-list li, .for-you-list li {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    padding: 8px 0;
    border-bottom: 1px solid #ccc;
}

.dropdown {
    display: inline-block;
}

.dropbtn, .show-more-button {
    background-color: var(--background-color);
    color: white;
    font-family: Programme, Arial, sans-serif;
    font-size: 1rem;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus, .show-more-button:hover {
    background-color: var(--background-lighter);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content, .dropdown:focus-within .dropdown-content {
    display: block;
}

.section-title-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 767px) {
    .news-container .news-content {
        flex-direction: column;
    }

    .news-container .news-content .news-card {
        padding: 0;
        border-right: 0;
    }
}

.show-more-button {
    display: block;
    margin: 20px auto;
}