#profile-container {
    width: 80%;
    margin: 0 auto;
    padding: 40px 0;
}

.profile-title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
}

.profile-content {
    display: flex;
    justify-content: space-evenly;
}

#profile-photo {
    flex: 1;
    text-align: center;
}

#profile-photo img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
}

#profile-info {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#profile-info h3 {
    font-size: 1.5rem;
    margin-bottom: 5px;
}

#profile-info span {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

#profile-stats {
    margin-top: 20px;
}

#profile-stats h3 {
    font-size: 1.5rem;
    margin-bottom: 5px;
}

#profile-stats p {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
    #profile-container {
        width: 100%;
    }

    .profile-content {
        flex-direction: column;
        align-items: center;
    }

    #profile-photo,
    #profile-info {
        flex: initial;
        max-width: 80%;
        margin-bottom: 20px;
    }
}
