.popup-title {
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
}

.popup-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.popup-container label {
    display: block;
    margin-bottom: 10px;
}

.popup-container input{
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.popup-container textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 150px;
    resize: vertical;
}

.post-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #6c757d;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

.post-button:hover {
    background-color: #5a6268;
}

.cancel-button {
    margin-top: 20px;
    margin-right: 10px;
    padding: 10px 20px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

.cancel-button:hover {
    background-color: #c82333;
}